<!-- lsb_app/templates/tests/test_seite.html -->
{% extends "base.html" %}

{% block title %}Testseite{% endblock %}

{% block body %}

    <div> 
        Dies ist eine Testseite
    </div>

    <div>
        <ul class="list-group">
            {% for name, id in account_map.items() %}
                <li class="list-group-item d-flex justify-content-between">
                <span>{{ name }}</span>
                <small class="text-muted">{{ id }}</small>
                </li>
            {% endfor %}
            </ul>
    </div>

{% endblock %}
