{% extends "base.html" %}
{% block title %}Rechnung bearbeiten{% endblock %}

{% block body %}
<h1 class="h5 mb-3">
  Rechnung bearbeiten
  <small class="text-muted">(#{{ rechnung.id }})</small>
</h1>

<form method="post" novalidate>
    {{ form.csrf_token }}

<p>DEBUG: Auftrag: {{rechnung.auftrag.auftragsnummer}}</p>


    <div class="col-md-3">
    <label class="form-label">Version</label>
    <p class="form-control-plaintext">{{ rechnung.version }}</p>
    </div>

    <div class="col-md-3">
      <label class="form-label">{{ form.art.label }}</label>
      {{ form.art(class="form-select") }}
      {% for e in form.art.errors %}<div class="text-danger small">{{ e }}</div>{% endfor %}
    </div>

    <div class="col-md-3">
      <label class="form-label">{{ form.status.label }}</label>
      {{ form.status(class="form-select") }}
      {% for e in form.status.errors %}<div class="text-danger small">{{ e }}</div>{% endfor %}
    </div>

    <div class="col-md-3">
      <label class="form-label">{{ form.rechnungsdatum.label }}</label>
      {{ form.rechnungsdatum(class="form-control", type="date") }}
      {% for e in form.rechnungsdatum.errors %}<div class="text-danger small">{{ e }}</div>{% endfor %}
    </div>

    <div class="col-md-6">
      {{ form.bemerkung.label(class="form-label") }}
      {{ form.bemerkung(class="form-control") }}
      {% for e in form.bemerkung.errors %}<div class="text-danger small">{{ e }}</div>{% endfor %}
    </div>

    <div class="mt-3">
        <a href="{{ request.args.get('next') or url_for('patients.overview') }}" class="btn btn-outline-secondary">Abbrechen</a>
        {{ form.submit(class="btn btn-primary") }}
    </div>

</form>
{% endblock %}
