/* Dashboard Card Highlighting */
.border-zero {
    /* border: 2px solid #dc3545 !important; */
    border: 2px solid #837c7d !important;
}
.card-zero {
    /* background-color: #ffe5e5 !important; */
    background-color: #837c7d !important;
}
