<!-- patient_overview.html -->
{% extends 'base.html' %}

{% block title %}Patients Overview{% endblock %}

{% block body %}
<h1 class="h4 mb-3">Patientenübersicht</h1>

<table class="table table-striped table-sm align-middle">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Vorname</th>
      <th>Geburtsdatum</th>
      <th>Geschlecht</th>
      <th>Meldeadresse</th>
      <th>Auftragsnummer</th>
      <th>Auftragsdatum</th>
      <th>Auftragsuhrzeit</th>
      <th>Auftragsadresse</th>
      <th>Kostenstelle</th>
      <th>Mehraufwand</th>
      <th>Bemerkung</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for p in patients %}
      <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.vorname }}</td>
        <td>{{ p.geburtsdatum.strftime('%d.%m.%Y') }}</td>
        <td>{{ p.geschlecht }}</td>
        <td>{{ p.meldeadresse }}</td>
        <td>{{ p.auftrag.auftragsnummer }}</td>
        <td>{{ p.auftrag.auftragsdatum }}</td>
        <td>{{ p.auftrag.auftragsuhrzeit }}</td>
        <td>{{ p.auftrag.auftragsadresse }}</td>
        <td>{{ p.auftrag.kostenstelle }}</td>
        <td>{{ p.auftrag.mehraufwand }}</td>
        <td>{{ p.auftrag.bemerkung }}</td>
        <td><a class="btn btn-sm btn-primary" href="#">Details</a></td>
      </tr>
    {% else %}
      <tr><td colspan="6">Keine Patienten vorhanden.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
